
body{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
h2{
    color: #E3CAC8;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0px;
    font-family: 'Lora', serif;
    font-weight: bold;
}

h1{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 0px;
}
h2:hover{
    opacity: .9;
}
h3{
    font-size: 30px;
    font-family: 'Lora', serif;
}
h4{
    font-family: 'Merriweather', serif;
    font-size: 20px;
}
h5{
    
    font-family: 'Merriweather', serif;
    font-size: 18px;
}
p{
    font-size: 18px;
    font-family: 'Merriweather', serif;
}

/* generic css */
.no-bullet{
    list-style-type: none;
}
.clear{
    clear: both;
}
.seperate-lists{
    margin: auto;
    border-bottom: 2px solid lightgray;
    padding: 20px 70px;
}
.last-list:last-child{
    border-bottom: 0px solid white !important;
}
.display-width{
    max-width: 1250px;
    margin: auto;
}

/* navigation buttons css */
.line{
    width: 500px;
    margin: auto;
    border-bottom: 2px solid #BCABAE;
    height: 30px;

}
.education-nav{
    background-color: #D8D2DC;
    color: black;
}
.education-nav:hover{
    opacity: .6;
}
.skills-nav{
    background-color: #122C34;
}
.projects-nav{
    background-color: #283044;
}
.contact-nav{
    background-color: #000000;

}
h2.contact-nav{
    padding-bottom: 30px;
}

a:hover{
    text-decoration: none;
    color: #B36F69;
}
a{
    transition: 0.5s linear all;
    text-decoration: none;
    color: #BCABAE;
}
.linkedin{
    color: #BCABAE;
    text-align: center;
    font-family: 'Lora', serif;
    background-color: black;
    padding-bottom: 40px;
}

.education-line{
    width: 500px;
    margin: auto;
    border-bottom: 2px solid black;
    height: 30px;

}

/* about page css */
.about-me{
    background-color: #B36F69;
}

.about-me-line{
    border-bottom: 1px solid black;
    max-width: 800px;
    margin: auto;
}
.about-me-line2{
    max-width: 150px;
    border-bottom: 1px solid black;
    margin: auto;
}
.split-container{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 150px;
}
div.about-width{
    padding-right: 30px;
    padding-left: 10px;
}
h3.about-width{
    max-width: 350px;
    margin: auto;
}
.split{
    flex: 50%
}
img.about{
    border-radius: 30%;
    border: 2px dashed black;
    width: 60%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
h3.about{
    text-align: center;
    padding: 20px 0px;
}

/* education page css */
.education-container{
    display: flex;
}
div.education{
    width: 50%
}

ul.education{
    margin-top: 20px;
    list-style-type: disc;
}

/* projects page css */
.project-container{
    display: flex;
    margin: 20px 0px;
}
.project-container{
    display: flex;
    margin: 20px 0px;
    align-items: center;
}
div.project-img{
    flex: 15%;
}
div.project-title{
    flex: 25%;
    margin: 0px 20px;
}
div.project-description{
    flex: 60%;
}
img.project{
    margin: 0px 20px;
    width: 200px;
}

/* skills css */
li.skill{
    width: 50%;
    float: left;
    font-size: 16px;
    margin: 10px 0px;
    
}
.skill-container{
    display: flex;
}
div.skills-name{
    flex: 20%;
    margin-left: 50px;
}
div.skills-stars{
    flex: 80%
}
.star{
    margin: 3px;
}
.star:nth-child(1){
    margin-left: 20px;
}


/* .skill:nth-child(even){
    float: right;
} */


@media screen and (max-width: 700px){
    h2{
        padding: 40px 0px;
        font-size: 25px;
    }
    /* about css */

    .about-container{
        flex-direction: column;
    }
    .about-me-line{
        width: 200px;
    }
    h1{
        padding: 30px 0px;
    }
    div.split-container{
        padding: 0px;
    }
    .about-me{
        padding-bottom: 20px;
    }

    .line{
        width: 200px;
        border-bottom: 2px solid #BCABAE;
    }
    .education-container{
        flex-direction: column;
    }
    ul.education{
        margin-top: 10px;
        padding-left: 20px;
    }
    div.education{
        margin: 0px;
        width: 100%
    }
    h3.education{
        margin-right: 0px;
    }
    .project-container{
        flex-direction: column;
        
    }
    .project-reverse-container{
        flex-direction: column-reverse;
        
    }
    div.project-title{
        text-align: center;
    }
    li.skill{
        float: none;
        width: 100%;

    }

}