<a href="#!Education" onclick='hide("educationShow")'><h2 class="nav1">Education<div class="line"></div></h2></a>
<div id="educationShow">
    <ul>
    <li ng-repeat="education in educationInfo">
        <div>
            <h3>{{education.name}}</h3>
            <h4>{{education.degree}}</h4>
            <h5>{{education.startDate}} - {{education.endDate}}</h5>
            <ul>
                <li ng-repeat="eduList in education.information">
                    <p>{{eduList.a}}</p>
                </li>
            </ul>
        </div>
        <div>
        </div>
    </li>
    </ul>
</div>


<a href="#!Projects" ><h2 class="nav2">Projects<div class="line"></div></h2></a>
<a href="#!Skills"><h2 class="nav1">Skills<div class="line"></div></h2></a>
<div><h2 class="nav2">Contact<div class="line"></div></h2></div>
