<a href="#!Education"><h2 class="nav1">Education<div class="line"></div></h2></a>
<a href="#!Projects" onclick='hide("projectsShow")'><h2 class="nav2">Projects<div class="line"></div></h2></a>
<div id="projectsShow">
    <h2>hello world</h2>
    <ul>
    <li ng-repeat="project in projectInfo">
        <div ng-if="$odd">
        <div >
            <h3><img src='Images/{{project.img}}'>{{project.name}}</h3>
        </div>
        <div>
            <p>{{project.description}}</p>
        </div>
        </div>
        <div ng-if="$even">
            
            <div>
                <p>{{project.description}}</p>
            </div>
            <div >
                <h2>{{project.name}}<img src='Images/{{project.img}}'></h2>
            </div>
        </div>
    </li>
    </ul>
</div>
<a href="#!Skills"><h2 class="nav1">Skills<div class="line"></div></h2></a>
<div><h2 class="nav2">Contact<div class="line"></div></h2></div>
