<a href="#!Education"><h2>Education</h2></a>
<a href="#!Projects" onclick='hide("projectsShow")'><h2>Projects</h2></a>
<div id="projectsShow">
    <h2>hello world</h2>
    <ul>
    <li ng-repeat="project in projectInfo">
        <div ng-if="$odd">
        <div >
            <h2><img src='Images/{{project.img}}'>{{project.name}}</h2>
        </div>
        <div>
            <p>{{project.description}}</p>
        </div>
        </div>
        <div ng-if="$even">
            
            <div>
                <p>{{project.description}}</p>
            </div>
            <div >
                <h2>{{project.name}}<img src='Images/{{project.img}}'></h2>
            </div>
        </div>
    </li>
    </ul>
</div>
<a href="#!Skills"><h2>Skills</h2></a>
<div><h2>Contact</h2></div>
