<a href="#!Education">
    <h2 class="education-nav">Education<div class="education-line"></div>
    </h2>
</a>
<a href="#!Projects" onclick='hide("projectsShow")'>
    <h2 class="projects-nav">Projects<div class="line"></div>
    </h2>
</a>
<div id="projectsShow">
    <div class="display-width">
    <ul class="no-bullet">
        <li ng-repeat="project in projectInfo" class="seperate-lists last-list">
            <div class="project-container">
                <div class="project-img">
                    <img src='Images/{{project.img}}' class="project">
                </div>
                <div class="project-title">
                    <h3>{{project.name}}</h3>
                </div>
                <div class="project-description">
                    <p>{{project.description}}</p>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div>
<a href="#!Skills">
    <h2 class="skills-nav">Skills<div class="line"></div>
    </h2>
</a>
<div class="contact-nav"><h2>Contact<div class="line"></div>
</h2>
    <div class="linkedin"><a href="https://www.linkedin.com/in/jennifer-g-hobbs/" >https://www.linkedin.com/in/jennifer-g-hobbs/</a></div>
</div>