body{
    background-color: #FAF9F9;
    max-width: 1250px;
    margin: auto;
}
h2{
    color: #BCABAE;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0px;


}
h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
h3{
    font-size: 30px;
}
h5{
    font-weight: bold;
}

/* generic css */
.no-bullet{
    list-style-type: none;
}
.clear{
    clear: both;
}
/* navigation buttons css */
.line{
    width: 500px;
    margin: auto;
    border-bottom: 3px solid #BCABAE;
    height: 30px;

}
.nav1{
    background-color: #000000;
}
.nav2{
    background-color: #6B6D76;
}
.nav1:hover{
    background-color: #161616;
    border: 2px solid #000000;
    padding-top: 78px;
    padding-bottom: 78px;
}
.nav2:hover{
    background-color: rgb(119, 121, 129);
    border: 2px solid #6B6D76;
    padding-top: 78px;
    padding-bottom: 78px;

}
a:hover{
    text-decoration: none;
}

/* about page css */
.about-container{
    display: flex;
    flex-wrap: wrap;
}
.about-open{
    flex: 30%;
}
.about-description{
    flex: 70%;
    margin-top: 70px;
}
img.about{
    border-radius: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
h3.about{
    text-align: center;
}

/* education page css */
.education-container{
    display: flex;
}
div.education{
    margin: 20px 30px;
    width: 50%
}
h3.education{
    margin-right: 70px;
}
ul.education{
    margin-top: 20px;
    list-style-type: disc;
}

/* projects page css */
.project-container{
    display: flex;
    margin: 20px 0px;
}
.project-container{
    display: flex;
    margin: 20px 0px;
}
.project-reverse-container{
    display: flex;
    margin: 20px 0px;
}
div.project-title{
    flex: 45%;
    margin: 0px 20px;
}
div.project-description{
    flex: 55%;
    margin: 15px 20px;
}
img.project{
    width: 150px;
    border-radius: 50%;
    margin: 0px 20px;
}

/* skills css */
li.skill{
    width: 50%;
    float: left;
    font-size: 16px;
    margin: 10px 0px;
    
}
.skill-container{
    display: flex;
}
div.skills-name{
    flex: 20%;
    margin-left: 50px;
}
div.skills-stars{
    flex: 80%
}
.star{
    margin: 3px;
}
.star:nth-child(1){
    margin-left: 20px;
}


/* .skill:nth-child(even){
    float: right;
} */


@media screen and (max-width: 700px){
    h2{
        padding: 40px 0px;
        font-size: 25px;
    }
    .nav1:hover{
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .nav2:hover{
        padding-top: 38px;
        padding-bottom: 38px;
    
    }
    .about-container{
        flex-direction: column;
    }
    div.about-description{
        margin-bottom: 20px;
    }
    img.about{
        margin-bottom: 10px;
    }
    .line{
        width: 200px;
        border-bottom: 2px solid #BCABAE;
    }
    .education-container{
        flex-direction: column;
    }
    ul.education{
        margin-top: 10px;
        padding-left: 20px;
    }
    div.education{
        margin: 0px;
        width: 100%
    }
    h3.education{
        margin-right: 0px;
    }
    .project-container{
        flex-direction: column;
        
    }
    .project-reverse-container{
        flex-direction: column-reverse;
        
    }
    div.project-title{
        text-align: center;
    }

}