<div class="about-me">
    <div class="display-width">

    <h1>Jennifer Hobbs</h1>
    <h3 class="about">Junior Web and Software Developer</h3>
    <div class="about-me-line"></div>
    <div class="split-container">
      <div class="split">
        <img class="about" src="Images/jennifer.png" alt="portrait">
      </div>
      <div class="split about-width">
        <h3 class="about">Vancouver, BC</h3>
        <div class="about-me-line2"></div>
        <h3 class="about-width about">
          I have a passion for learning and perfecting my skills.
        </h3>
      </div>
    </div>
  </div>
  </div>