<div ng-controller="education">
<div id="educationShow">
    <div class="display-width">
        
            <div ng-repeat="education in educationInfo" class="seperate-lists last-list">
                <div class="education-container">
                    <div class="education">
                        <h3 class="education">{{education.name}}</h3>
                        <h4 class="education">{{education.degree}}</h4>
                        <h5 class="education">{{education.startDate}} - {{education.endDate}}</h5>
                    </div>
                    <div class="education">
                        <ul class="education">
                            <li ng-repeat="eduList in education.information">
                                <p>{{eduList.a}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
    </div>
</div>
</div>