<div ng-controller="projects">
<div id="projectsShow">
    <div class="display-width">
    <ul class="no-bullet">
        <li ng-repeat="project in projectInfo" class="seperate-lists last-list">
            <div class="project-container">
                <div class="project-img">
                    <img src='Images/{{project.img}}' class="project">
                </div>
                <div class="project-title">
                    <h3>{{project.name}}</h3>
                </div>
                <div class="project-description">
                    <p>{{project.description}}</p>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div>
</div>