<div ng-controller="projects">
<div id="projectsShow">
    <div class="display-width">
        
    <ul class="no-bullet project-container">
        <li ng-repeat="project in projectInfo">
            <div class="project">
                <div class= "image-size">
                    <img src='Images/{{project.img}}' class="project">
                </div>
                <h3 class="project">{{project.name}}</h3>
                
                
                
                <!-- <div class="project-description">
                    <p>{{project.description}}</p>
                </div> -->
                
            </div>
        </li>
    </ul>
    
</div>
    </div>
</div>
</div>
<div class="clear"></div>