<a href="#!Education"><h2 class="education-nav">Education<div class="education-line"></div></h2></a>
<a href="#!Projects"><h2 class="projects-nav">Projects<div class="line"></div></h2></a>
<a href="#!Skills" onclick='hide("skillDisplay")'><h2 class="skills-nav">Skills<div class="line"></div></h2></a>
<div class="display-width">
<div id="skillDisplay">
    <ul class = "no-bullet">
        <li ng-repeat="skill in skillsInfo | orderBy : '-star'" class="skill">
            <div class="skill-container" ng-if="$odd">
                <div class="skills-name">
                    <p>{{skill.skill}}</p>
                </div>
                <div class="skills-stars">
                    <span ng-repeat= "s in getNumber(skill.star) track by $index"  class="glyphicon glyphicon-star star"></span>
                    <span ng-repeat= "s in getEmpty(skill.star) track by $index"  class="glyphicon glyphicon-star-empty star" ></span>
                </div>
            </div>
            <div class="skill-container" ng-if="$even">
                <div class="skills-name">
                    <p>{{skill.skill}}</p>
                </div>
                <div class="skills-stars">
                    <span ng-repeat= "s in getNumber(skill.star) track by $index" class="glyphicon glyphicon-star star"></span>
                    <span ng-repeat= "s in getEmpty(skill.star) track by $index" class="glyphicon glyphicon-star-empty star"></span>
                </div>

            </div>
        </li>
    </ul>
</div>
</div>
<div class="clear"></div>

